/* Base styles */
.order-details {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 3rem;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.order-details h2 {
  text-align: center;
  color: #333;
}

.order-details .cart-list-container {
  margin-top: 20px;
}

.order-details .cart-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Ensure items wrap to the next line on smaller screens */
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.order-details .cart-item-details {
  display: flex;
  align-items: center;
  flex: 1; /* Take up available space */
  margin-bottom: 10px;
}

.order-details .cart-item-details img {
  width: 120px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px; /* Add rounded corners to images */
}

.order-details .cart-item-info {
  font-size: 18px;
  color: #555;
}

.order-details .cart-item-name {
  font-weight: bold;
  color: #333;
}

.order-details .cart-item-price {
  margin-left: auto;
  font-size: 16px;
  color: #888;
}

.order-details .divider {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

.order-details .total-price {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.order-details .button {
  display: block;
  width: 90%;
  max-width: 300px; /* Set a max-width for larger screens */
  margin: 0 auto; /* Center the button */
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition for hover effects */
}

.order-details .button:hover {
  background-color: #45a049;
}

/* Form Styles */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .order-details {
    max-width: 80%;
    margin-top: 7rem; /* Adjust margin top for smaller screens */
    margin-bottom: 3rem;
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .order-details .cart-item-details img {
    width: 80px; /* Decrease image size on smaller screens */
    margin-right: 10px;
  }

  .order-details .cart-item-info {
    font-size: 14px; /* Decrease font size for item info on smaller screens */
  }

  .order-details .total-price {
    font-size: 1em; /* Adjust font size for total price on smaller screens */
  }

  .order-details .button {
    font-size: 14px; /* Adjust button font size for smaller screens */
    padding: 8px; /* Adjust button padding for smaller screens */
  }

  .input-group input {
    width: calc(100% - 16px); /* Adjust input width for smaller screens */
    padding: 8px; /* Adjust input padding for smaller screens */
  }
}
