.orders-container {
  margin-top: 5.5rem;
  padding: 2rem;
  background-color: #f9f6f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loader {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.order-history-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.order-history-button:hover {
  background-color: #0056b3;
}

.orders-heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #343a40;
}

.orders-list {
  list-style-type: none;
  padding: 0;
}

.order1 {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.order1:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.order-summary {
  display: flex;
  flex-direction: column; /* Change to column on smaller screens */
  gap: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 10px;
}

.order-info-group {
  flex: 1;
}

.order-info {
  margin: 5px 0;
  font-size: 16px;
}

.order-actions {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Added margin top for separation */
}

.action-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px; /* Added margin left for separation */
}

.action-button:hover {
  background-color: #c82333;
}

.status-select {
  padding: 8px;
  border-radius: 4px;
}

.items-list {
  display: grid; /* Change to grid for smaller screens */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  overflow-x: auto;
}

.item {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  gap: 10px;
}

.item-info {
  margin: 5px 0;
  font-size: 14px;
}
