.order-history-container {
  margin-top: 5.5rem;
  background-color: #f9f6f0;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-history-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.order {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
}

.order-details {
  margin-bottom: 10px;
}

.items-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.item-details {
  flex: 1;
}

.item-details p {
  margin: 5px 0;
}

.customer-info {
  margin-top: 10px;
}
