/* Styles/OrderHistory.css */
.order-history-container {
  margin-top: 4.5rem;
  background-color: #f9f6f0;
  text-align: left;
  padding-top: 1rem;
}

.order-history-container button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 119, 68);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.order-history-container button:hover {
  background-color: #0056b3;
}

.order-history-container h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #343a40;
}

.order-item {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.order-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.order-item .order-info {
  margin: 5px 0;
  font-size: 16px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
}

.item {
  flex: 1;
  min-width: 200px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.item-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.filter-dropdown {
  margin-bottom: 20px;
}

.filter-dropdown label {
  font-size: 20px;
  margin-right: 10px;
}

.filter-dropdown select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ordersnew-container {
  display: grid;
  padding-top: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: start;
}

.green-clock {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(0, 119, 68);
  font-size: 30px;
}
