.container-qr {
  text-align: center;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
}

.generate-button, .download-button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.qr-code {
  margin: 20px auto;
  width: fit-content;
}
